__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.env.local
.DS_Store
.git
.gitignore
.pytest_cache
.coverage
.vscode
*.sql
*.log
.mypy_cache
.dockerignore
Dockerfile
docker-compose.yml
.editorconfig
